@model NTDHBaiKiemTraGK.Models.NTDHKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NTDHKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NTDHtenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NTDHtenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NTDHTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NTDHTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NTDHMaKH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
